<h1>Welcome#index</h1>
<h2><%= @section.title %></h2>
<p>Find me in app/views/welcome/index.html.erb</p>


<div class="form-group">
  <label for="formGroupExampleInput">First Name</label>

  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
</div>
<div class="form-group">
  <label for="formGroupExampleInput2">Last Name</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
</div>
