<h1> welcome to the index page of brand </h1>

<head> </head>

<body>
<ul>
  <li><a href="http://localhost:3000/brands/new"> Create </a></li>
  <li><a href="/about"> update </a></li>
  <li><a href="/contact"> delete </a></li>
</ul>

<div>
<% @documnets.each do |document|%>
<h2>Title: <%= document.title%></h2>
<p>Descrption: <%= document.description%></p>
<% end %>

</div>


